
@media (min-width: 1024px) {
    img{
        display: block;
        width: 25%;
        height: auto;
        margin: auto;
        border: 3px solid black;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    img{
        display: block;
        width: 40%;
        height: auto;
        margin: auto;
        border: 3px solid black;
    }
}
@media (min-width: 1440px) {
    img{
        display: block;
        width: 30%;
        height: auto;
        margin: auto;
        border: 3px solid black;
    }
}
@media (min-width: 320px)and (max-width: 599px) {
    img{
        display: block;
        width: 100%;
        height: auto;
        margin: auto;
        border: 3px solid black;
    }
}